/.gradle
/.idea
/gradlew/gradle-wrapper.jar
./gradle/gradle-wrapper.jar
/gradle
/build
*.bat
gradlew
gradlew.bat
gradlew_linux
gradlew_win
gradlew_wine
local.properties
settings.gradle
*.iml
*.hprof
*.log
/gradle/wrapper/gradle-wrapper.jar
